h2 {
  font-size: 40px;
  text-align: center;
}

h1 {
  font-size: 60px;
  font-weight: 700px;
  text-align: center;
}

#time {
  font-size: 40px;
  font-weight: 700px;
  text-align: center;
}

#words {
  font-size: 25px;
  text-align: center;
}
