.center-box {
  width: 350px;
  height: 450px;
  color: white;
  text-align: center;
  line-height: 100px;
  margin: auto;
  border: 1px solid white;
  border-radius: 20px;
}
/* 박스 */

/* 원형 사진 */
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding-top: 20px;
}

a {
  display: block;
}
